@{
  Layout = "_Layout";
}

<div class="container">
    <h1>Enter a sentence, then a word to look for within your sentence</h1>
    <form action="/wordcounter/show" method="post">
      <label for="sentence">Write a sentence:</label>
      <input id="sentence" name="sentence" type="text">
      <label for="input1">Write a word:</label>
      <input id="input1" name="input1" type="text">

      <button type="submit">Tell me how many times my word is in my sentence!</button>
    </form>
</div>
