@{
  Layout = "_Layout";
}
<div class="container">

<h1>Your result</h1>
<p>This is your sentence: @Model.GetSentence()</p>
<p>This is your word: @Model.GetLetter()</p>
<p>Your word is @Model.Counter() times, in your sentence!</p>
</div>
