@{
  Layout = "_Layout";
}
<div class="container">

<h1>Your result!</h1>
<h4>This is your sentence: @Model.GetSentence()</h4>
<h4>This is your word: @Model.GetLetter()</h4>
<h4>Your word is @Model.Counter() times, in your sentence!</h4>
</div>
