@{
  Layout = "_Layout";
}

<div class="container">
<h1>Word Counter Game</h1>
<h3>To play input a sentence and a word to see how many times your word appears on your sentence<h3>
<a href="/wordcounter/new">Start Game.</a>
</div>
